<!-- <div class="grid-container">
    <div class="navbar">
      <div class="">
          <a class="global-header-section-logo mod-black" href="/home">
            Start Page
          </a>
      </div>
    </div>
    <div class="hello"></div>
    <div class="landing"></div>
  </div> -->


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  <div class="start">
    <div class="navbar">
      <div class="navbar__logo">
        <img alt="Home" class="logo__image" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/u/res/images/trello-header-logos/1c3a2d636e34d62a6cb27d83e5e6956b/trello-logo-black.svg">
      </div>
      <div class="navbar__actions">
        <button class="button">Login</button>
        <button class="button">Signup</button>
      </div>
    </div>
    <div class="hello">
      <div class="hello__container">
        <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg" style="height: 80px;margin-bottom: 2em;">
        <h1>Trello - это бесплатный, гибкий и наглядный способ организовать что угодно с кем угодно.
</h1>
        <p>Бесконечные цепочки писем, таблицы с устаревшими сведениями, ворох стикеров и неудобные программы для управления проектами — все это в прошлом. Просто откройте доску Trello, чтобы мгновенно увидеть все сведения о проекте.</p>
        <div>
          <button class="button" href="/signup"> Зарегистрироваться – Это бесплатно. </button>
        </div>
        <p> <a href="/login"> Войти... </a> </p>
      </div>
    </div>
  </div>
</body>
</html>
