<div class="list">
  <div class="list-header">
    <input
      class="list-header-name mod-list-name"
      [(ngModel)]="list.title"
      (keyup.enter)="updateList()"
      spellcheck="false"
      maxlength="512"
      style="overflow: hidden; overflow-wrap: break-word; height: 30px;"
      >
    <p class="list-header-num-cards">{{ (items)?.length }} cards</p>
    <div class="list-header-extras">
      <div dropdown class="btn-group">
        <a
          dropdownToggle
          id="basic-link"
          class="list-header-extras-menu"
          href="#"
          (click)="false"
        >···</a>
        <ul
          *dropdownMenu
          id="dropdown-menu-dividers"
          class="dropdown-menu"
        >
          <li class="disabled">
            <a
              class="dropdown-item disabled"
              href="#"
            >List actions</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a
              class="dropdown-item"
              href="#"
              (click)="toggleAddItemDialog()"
            >Add card...</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a
              class="dropdown-item"
              href="#"
              (click)="removeList($event)"
            >Remove list...</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<!--   <div #scrollMe class="list-cards">
    <ng-template #itemTemplate let-item="item.value">
      <app-item [item]="item" [listId]="list.id"
      (_drop)='onDrop($event)'
      (_dragStart)='onDragStart($event)'
      (_dragLeave)='onDragLeave($event)'
      ></app-item>
    </ng-template>
    <bs-sortable
      [(ngModel)]="list.items"
      [itemTemplate]="itemTemplate"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="drag here"
      placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper"
    ></bs-sortable>

  </div> -->
  <!-- <div *ngFor="let item of list.items"> -->
  <div>
    <app-item *ngFor="let item of list.items"
      [item]="item"
      draggable="true"
      (_drop)='onDrop($event)'
      (_dragStart)='onDragStart($event)'
      (_dragLeave)='onDragLeave($event)'
    ></app-item>
  </div>
  <div class="footer">
    <div class="card-composer list-cards" *ngIf="addItemDialog">
      <div class="list-card">
        <div class="list-card-details">
          <div class="list-card-labels"></div>
          <textarea
            #newItemTitle
            (keyup.enter)="addItem(newItemTitle.value)"
            class="list-card-composer-textarea"
            placeholder="Enter item title"
            style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 54px;"
            autofocus
          ></textarea>
        </div>
      </div>
      <div class="cc-controls">
        <div class="cc-controls-section">
          <input
            class="btn-primary mod-list-add-button"
            type="submit"
            value="Add item"
            (click)="addItem(newItemTitle.value)">
          <button
            class="close"
            (click)="toggleAddItemDialog()"
          >
            <span>&times;</span>
          </button>
        </div>
      </div>
    </div>
    <a class="open-card-composer" href="#" *ngIf="!addItemDialog">
      <span (click)="toggleAddItemDialog()"
           *ngIf="!(list.items)?.length"
          >Add item</span>
      <span (click)="toggleAddItemDialog()"
           *ngIf="(list.items)?.length">Add new item</span>
    </a>
  </div>
</div>




