.list {
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
}
.list-header-target {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list-header-name {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 30px;
  resize: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -4px 0;
  height: 20px;
  min-height: 20px;
  padding: 4px 7px;
  resize: none;
  max-height: 256px;
}

.list-header-name:focus {
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.list-header-extras {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 10;
}

.list-header-extras-menu {
  border-radius: 3px;
  float: left;
  color: #798d99;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  width: 32px;
  text-decoration: none;
  text-align: center;
}

.list-header-extras-menu:hover {
  color: #516b7a;
  background-color: rgba(9,45,66,.13);
}

.list-cards {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  max-height: 60vh;
}

.list-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  color: #17394d;
}

.list-card-cover {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-card-operation {
  background-color: #f5f6f7;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: .8;
  padding: 4px;
  position: absolute;
  right: 2px;
  top: 2px;
  visibility: hidden;
  z-index: 40;
  color: #798d99;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  width: 20px;
  cursor: pointer;
}

.list-card-details {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
  z-index: 10;
}

.list-card-composer-textarea {
  background: none;
  border: none;
  box-shadow: none;
  height: auto;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  resize: vertical;
  outline: 0;
}

.list-card-title {
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #17394d;
}

.card-composer {
  padding-bottom: 8px;
}

.cc-controls-section {
  float: left;
}

input[type=submit].btn-primary {
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
}

.mod-list-add-button {
  float: left;
  min-height: 30px;
  height: 30px;
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mod-list-add-button:active {
  background-color: #3f6f21 !important;
  box-shadow: 0 1px 0 0 #3f6f21 !important;
  border: none !important;
  color: #fff !important;
}

.open-card-composer {
  border-radius: 0 0 3px 3px;
  color: #6b808c;
  display: block;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

