.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    // border: 1px solid;
    width: 30vw;
    min-width: 300px;
    height: 50vh;
    min-height: 300px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .module {
      margin-bottom: 10px;
      label {
        display: block;
      }

    }

    .controls {
      button {
        margin-right: 8px;
      }
    }
  }
}

