<div class="surface">
  <div class="navbar">
    <div class="navbar__board-controls">
        <button mat-stroked-button
        [routerLink]="['/workspace']"
      >🦊
        <!-- <mat-icon>🦊</mat-icon> -->
        Home
      </button>
      <button mat-stroked-button
        [routerLink]="['/workspace/board']">
        Boards
      </button>
    </div>
    <div class="navbar__actions">
      <button mat-raised-button class="button" [routerLink]="['']">Log Out</button>
    </div>
  </div>
  <div class="content">
    <div class="board-wrapper">
      <div class="board-main-content">
        <div class="board-header">BOARD HEADER</div>
        <div class="board-canvas">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
