.board {
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-wrapper {
  width: 272px;
  margin: 0 4px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}

.is-idle {
  background-color: rgba(0,0,0,.12);
  cursor: pointer;
  color: #fff;
}

.is-idle:hover {
  background-color: rgba(0,0,0,.24);
}

.open-add-list {
  text-decoration-line: none;
}

.placeholder {
  padding: 6px 8px;
  color: hsla(0,0%,100%,.8);
  transition: color 85ms ease-in;
  display: block;
}

.list-name-input {
  margin: 0;
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in,background 85ms ease-in;
  width: 100%;
}

.list-add-controls {
  height: 32px;
  transition: margin 85ms ease-in,height 85ms ease-in;
  overflow: hidden;
  margin: 4px 0 0;
}

input[type=submit].btn-primary {
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
}

.mod-list-add-button {
  float: left;
  min-height: 30px;
  height: 30px;
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mod-list-add-button:active {
  background-color: #3f6f21 !important;
  box-shadow: 0 1px 0 0 #3f6f21 !important;
  border: none !important;
  color: #fff !important;
}
